import os.path

from sentry.conf.server import *

ROOT = os.path.dirname(__file__)

DATABASES = {
    'default': {
        # You can swap out the engine for MySQL easily by changing this value
        # to ``django.db.backends.mysql`` or to PostgreSQL with
        # ``django.db.backends.postgresql_psycopg2``
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ db_sentry.name }}',
        'USER': '{{ db_sentry.user }}',
        'PASSWORD': '{{ db_sentry.password }}',
        'HOST': 'localhost',
        'PORT': '',
    }
}

SENTRY_KEY = '{{ sentry.secret_key }}'

# Set this to false to require authentication
SENTRY_PUBLIC = False

SENTRY_ALLOW_REGISTRATION = False

SENTRY_WEB_HOST = '0.0.0.0'
SENTRY_WEB_PORT = 9000

ALLOWED_HOSTS = ['{{ sentry.server }}']

SENTRY_URL_PREFIX = '{{ sentry.url }}'
SENTRY_LOGIN_URL = '{{ sentry.url }}/login/'
